@import "../../../shared/styles/global.scss";

.bodygraph-card {
  background: $main-background;
  border-radius: $global-radius;
  overflow: hidden;
  width: 184px;
  height: 260px;
  &::after {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    width: 163px;
    height: auto;
  }
}

.bodygraph-card-icon {
  height: 40px;
}

.bodygraph-card-facts {
  &::after {
    background-image: url("/assets/bodygraph/card-facts.svg");
  }
}

.bodygraph-card-child-chart {
  &::after {
    background-image: url("/assets/bodygraph/child-chart-bg.svg");
  }
}

.bodygraph-card-forecast {
  &::after {
    background-image: url("/assets/bodygraph/forecast-bg.svg");
  }
}

.bodygraph-card-spheres {
  &::after {
    background-image: url("/assets/bodygraph/spheres-bg.svg");
  }
}

.bodygraph-card-dreamTeam {
  &::after {
    background-image: url("/assets/bodygraph/dream-team-bg.svg");
  }
}

.bodygraph-card-compatability {
  &::after {
    background-image: url("/assets/bodygraph/compatability-bg.svg");
  }
}

.bodygraph-card-btn {
  background: rgba(255, 255, 255, 0.1);
  border-radius: $global-radius;
  padding: 12px 20px;
  transition: all 0.3s ease-in-out;
  color: $main-text;
  cursor: pointer;
}
