.autocomplete-field {
  position: relative;
  &:focus-within {
    .suggestions {
      display: flex;
    }
  }
  .bar-loader {
    position: absolute;
    top: -2px;
  }
  .suggestions {
    width: 100%;
    position: absolute;
    display: none;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;

    max-height: 266px;
    overflow-y: scroll;

    border-radius: 0px 0px 20px 20px;
    background: #1e1a26;
    padding: 10px 0;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    &::-webkit-scrollbar {
      display: none;
    }

    &-option {
      cursor: pointer;
      color: #fff;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px; /* 114.286% */
      padding: 10px 20px;

      width: 100%;

      &:hover {
        background: #3c344c;
      }

      &--empty {
        &:hover {
          background: transparent;
          cursor: default;
        }
      }
    }
  }
}
