.checkbox-field {
  user-select: none;
  &__checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }
  &__input:checked ~ &__title > &__label > &__checkbox {
    background-color: white;
  }
  &__input:not(:checked) ~ &__title > &__label > &__checkbox > * {
    display: none;
  }
  &__title {
    @apply flex gap-1 flex-wrap;
  }
  &__label {
    @apply flex gap-2 items-center;
  }
}
