.input-field {
  display: flex;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-bottom: 2px solid #999;

  &:focus-within {
    border-color: #fff;
  }

  input {
    background: transparent;
    outline: none;
    color: #fff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: 100%;
  }
}
