.phone-field {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 8px;
  @apply border-b-2 border-solid border-[#999];
  &:focus-within,
  &.active {
    @apply border-white;
  }

  &__label {
    font-size: 12px;
    line-height: 100%;
    font-family: Poppins;
    @apply text-text-description;
  }
  &__country-select {
    display: flex;
    align-items: center;
  }
  &__options-wrap {
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: #1e1a26;
    position: absolute;
    width: 100%;
    height: 0px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    top: calc(100% + 2px);
    left: 0%;
    z-index: 1;
    &.open {
      padding: 0px 20px 20px 20px;
      height: auto;
    }
  }
  &__select-option {
    white-space: nowrap;
    font-size: 14px;
    line-height: 16px;
    &:hover {
      background-color: lighten($color: #1e1a26, $amount: 20);
    }
  }
  &__country-code {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
  }
  &__input-wrap {
    display: flex;
    gap: 14px;
    height: 20px;
    margin-bottom: 10px;
  }
  &__delimiter {
    height: 20px;
    width: 1px;
    @apply bg-darkslategray-100;
  }
  &__input {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 18px;
    height: 20px;
    outline: none;
    width: 100%;
    font-family: Poppins;
    &::placeholder {
      color: #9a9a9a;
    }
  }
  &__arrow {
    margin-left: 4px;
    @apply rotate-[-90deg];
  }
  &__flag {
    margin-right: 8px;
  }
  &__search {
    z-index: 1;
    position: sticky;
    top: 0;
    background: #1e1a26;
    width: 100%;
    border: none;
    outline: none;
    font-family: Poppins;
    font-size: 14px;
    line-height: 16px;
    color: white;
    padding-top: 20px;
  }
}
