$breakpoint-xxsmall: 320px;
$breakpoint-xsmall: 576px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1400px;
$breakpoint-x-large: 1700px;
$breakpoint-xx-large: 1920px;

@mixin min-width($breakpoint) {
  @if ($breakpoint == xxs) {
    @media (min-width: $breakpoint-xxsmall) {
      @content;
    }
  }
  @if ($breakpoint == xs) {
    @media (min-width: $breakpoint-xsmall) {
      @content;
    }
  } @else if ($breakpoint == sm) {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  } @else if ($breakpoint == md) {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == lg) {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == xl) {
    @media (min-width: $breakpoint-x-large) {
      @content;
    }
  } @else if ($breakpoint == xxl) {
    @media (min-width: $breakpoint-xx-large) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}
