@use "../../shared/styles/mixins/media.scss";

.home-pic {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  &-container {
    position: relative;
    width: 45vw;
    height: 53vw;
    max-height: 100vh;
    max-width: 84.9vh;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.home-svg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  &-container {
    position: relative;
    width: 1919.122px;
    height: 1525.85px;
  }
  @include media.min-width(sm) {
    display: block;
  }
}

.page{
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include media.min-width(sm) {
    gap: 140px;
  }
  & > div {
    display: flex;
    gap: 50px;
  }
}
