@import "../../../shared/styles/global.scss";

.img-bodygraph {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin-top: -50px;
  margin-left: -30px;

  @media screen and (max-width: 450px) {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
  }
}

.bodygraph-bg {
  position: relative;
  background: $main-background;
  border-radius: $global-radius;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/assets/bodygraph/bg.svg");
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 833px;
  }
}

.date-bodygraph {
  color: $second-text-color;

  @media screen and (max-width: 450px) {
    margin-top: 272px;
  }
}

.paragraph-bodygraph {
  max-width: 510px;
  color: $paragraph-text;
}

.question-mark {
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    background-image: url("/assets/bodygraph/Question.svg");
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: -20px;
  }
}
