@use "../../../shared/styles/mixins/media.scss";


.type-pic {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  &-container {
    position: relative;
    width: 900px;
    height:auto;
    max-height: 630px;
  }
}

.page{
  display: flex;
  flex-direction: column;
  gap: 70px;
  @include media.min-width(sm) {
      gap: 140px;
  }
  & > div {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include media.min-width(sm) {
      gap: 100px;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #2D2D2D;
}
