.bodygraph-vertical-line {
  width: 1px;
  height: 64px;
  background-color: #FFF;
  opacity: 0.10000000149011612;
}

.bodygraph-container {
  @media screen and (max-width: 500px) {
    position: relative;
    width: 150%;
    left: -25%;
    top: -10%;
  }
}
