@use "../../shared/styles/mixins/media.scss";

.top-bar{
  width: 100%;
  height: auto;
  padding: 44px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media.min-width(sm) {
    padding: 40px 50px 0px 50px;
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content-wrapper {
    width: 100%;
    height: auto;
  }

  &__start{
    gap: 20px;
  }
  
  &__logo {
    cursor: pointer;
  }

  &__activities{
    display: flex;
    align-items: center;
  }

  &__log-in-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__signed-in-user-wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__sign-in-button, &__log-in-button {
    color: var(--global-btn-text-white, #FFF);
    padding: 12px 20px;
    background: transparent;

    &:hover {
      background: transparent !important;
    }
  }

  &__log-in-button {
    border: none;
  }

  &__sign-in-button{
    border-color: #FFF;
  }

  &__user-name{
    color: #fff;
    text-transform: capitalize;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  &__user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

}
