@import "../../../shared/styles/mixins/media.scss";

$color-white: var(--global-btn-text-white, #fff);
$color-black: var(--global-btn-text, #0c0c0c);
$color-white-opacity: var(--global-btn-text-white-opacity, rgba(255, 255, 255, 0.25));
$color-black-opacity: var(--global-btn-text-opacity, rgba(0, 0, 0, 0.25));
$color-purple: #713fd0;

.button {
  cursor: pointer;

  box-sizing: border-box;
  display: inline-flex;

  border: 2px solid transparent;

  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &-variant {
    &--default {
      border-radius: 2px;

      background: #ffffff;
      color: $color-black;

      &:hover:not(:disabled) {
        background: $color-purple;
        color: $color-white;
      }
    }

    &--outline {
      border-radius: 2px;

      background: transparent;
      border-color: $color-white;
      color: $color-white;

      &:hover:not(:disabled) {
        background: $color-white;
        color: $color-black;
      }
    }

    &--text {
      border-radius: 2px;

      background: transparent;
      color: $color-white;

      &:hover:not(:disabled) {
        background: $color-white;
        color: $color-black;
      }
    }

    &--service {
      border-radius: 9999px;
      background: rgba(255, 255, 255, 0.1);
      color: $color-white;

      &:hover:not(:disabled) {
        background: rgba(255, 255, 255, 0.25);
        color: $color-white;
      }

      &:active:not(:disabled) {
        background: $color-purple;
        color: #ffffff;
      }
    }

    &--service-light {
      border-radius: 9999px;
      background: $color-white;
      color: $color-black;

      &:hover:not(:disabled) {
        background: $color-white-opacity;
        color: $color-white;
      }

      &:active:not(:disabled) {
        background: $color-purple;
        color: #ffffff;
      }
    }

    &--icon {
      left: 20px;
      top: 20px;

      background: #ffffff;
      border-radius: 20px;
    }
  }

  &-size {
    &--sm {
      padding: 12px 20px;
    }

    &--md {
      padding: 17px 30px;
    }
  }
}
