/*
  This styles included in main layout
  Be careful when edit it
*/
@use "./mixins/media";
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

$main-text: #fff;
$paragraph-text: #e7e7e7;
$second-text-color: #909090;
$text-description: #696969;
$main-background: #1a1a1a;
$global-radius: 24px;

*,
::before,
::after {
  border-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: $main-text;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  @apply no-underline;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;

  /* Mobile/H1 */
  font-size: 44px;
  line-height: 46px;

  @include media.min-width(sm) {
    /* Global/H1 */
    font-size: 60px;
    line-height: 64px;
  }
}

h2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;

  /* Mobile/H2 */
  font-size: 32px;
  line-height: 36px;

  @include media.min-width(sm) {
    /* Global/H2 */
    font-size: 36px;
    line-height: 40px;
  }
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;

  /* Global/H3 */
  font-size: 24px;
  line-height: 26px;

  @include media.min-width(sm) {
    /* Global/H3 */
    font-size: 24px;
    line-height: 26px;
  }
}

h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;

  /* Mobile/H4 */
  font-size: 16px;
  line-height: 18px;

  @include media.min-width(sm) {
    /* Global/H4 */
    font-size: 18px;
    line-height: 20px;
  }
}

.section {
  @include media.min-width(sm) {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  @include media.min-width(xl) {
    padding-left: 130px !important;
    padding-right: 130px !important;
  }
  @include media.min-width(xxl) {
    padding-left: 130px !important;
    padding-right: 130px !important;
  }
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  /* Mobile/Text */
  font-size: 14px;
  line-height: 22px;

  @include media.min-width(sm) {
    /* Global/Text */
    font-size: 16px;
    line-height: 28px;
  }
}

.text-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;

  /* Mobile/Descripton */
  font-size: 13px;
  line-height: 16px;

  @include media.min-width(sm) {
    /* Global/Description */
    font-size: 14px;
    line-height: 18px;
  }
}

.text-landing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;

  font-size: 14px;
  line-height: 22px;

  @include media.min-width(sm) {
    /* Landing/Main text */
    font-size: 13px;
    line-height: 20px;
  }
  @include media.min-width(md) {
    /* Landing/Main text */
    font-size: 15px;
    line-height: 23px;
  }
  @include media.min-width(lg) {
    /* Landing/Main text */
    font-size: 18px;
    line-height: 28px;
  }
  @include media.min-width(xl) {
    /* Landing/Main text */
    font-size: 21px;
    line-height: 33px;
  }
}

.text-btn {
  /*Global/Btn text;*/
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.text-white {
  color: #ffffff;
}

.text-whisper {
  color: #e7e7e7;
}

.text-gray {
  color: #c9c9c9;
}

.text-gray-dark {
  color: #696969;
}

.h-screen {
  height: 100vh;
}

.whitespace-nowrap {
  white-space: nowrap;
}
.whitespace-pre {
  white-space: pre;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ellipsis {
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden; /* keeps the element from overflowing its parent */
}

.btncontainer {
  display: flex;
  align-items: center;

  &__desc {
    text-align: left;
    margin-top: 0;
    margin-left: 1.25rem;
    white-space: pre;
  }
}

$step: 0.625rem;
@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: $i * $step;
  }

  .mb-#{$i} {
    margin-bottom: $i * $step;
  }

  .ml-#{$i} {
    margin-left: $i * $step;
  }

  .mr-#{$i} {
    margin-right: $i * $step;
  }

  .mx-#{$i} {
    margin-left: $i * $step;
    margin-right: $i * $step;
  }

  .my-#{$i} {
    margin-top: $i * $step;
    margin-bottom: $i * $step;
  }
}

@for $i from 1 through 10 {
  .pt-#{$i} {
    padding-top: $i * $step;
  }

  .pb-#{$i} {
    padding-bottom: $i * $step;
  }

  .pl-#{$i} {
    padding-left: $i * $step;
  }

  .pr-#{$i} {
    padding-right: $i * $step;
  }

  .px-#{$i} {
    padding-left: $i * $step;
    padding-right: $i * $step;
  }

  .py-#{$i} {
    padding-top: $i * $step;
    padding-bottom: $i * $step;
  }
}

.main-text-color {
  color: $main-text;
}

.description-text-color {
  color: $text-description;
}
