@use "../../../shared/styles/mixins/media";

.ambassador-swiper {
  display: none;

  @include media.min-width(md) {
    display: block;
    margin-right: 130px;
  }

  $aspect-ratio: 485/316;
  @include media.min-width(sm) {
    $w: 316px;
    width: $w;
    height: $aspect-ratio * $w;
  }
  @include media.min-width(md) {
    $w: 400px;
    width: $w;
    height: $aspect-ratio * $w;
  }
  @include media.min-width(lg) {
    $w: 500px;
    width: $w;
    height: $aspect-ratio * $w;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide {
  background-color: #231c31;
  transition: background-color 0.2s ease;
}

.swiper-slide-next {
  background-color: #412971;
}

.swiper-slide-active {
  background-color: #58379d;
}
