@use "../../../shared/styles/mixins/media";

.ambassador-card {
  $border-radius: 24px;

  &__wrapper {
    background-color: #58379d;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 24px;

    $aspect-ratio: 546/316;

    $w: 316px;
    width: $w;
    height: $aspect-ratio * $w;

    @include media.min-width(md) {
      $aspect-ratio: 485/316;
      $w: 400px;
      width: $w;
      height: $aspect-ratio * $w;
    }
    @include media.min-width(lg) {
      $aspect-ratio: 485/316;
      $w: 500px;
      width: $w;
      height: $aspect-ratio * $w;
    }
  }

  &__image {
    border-radius: 24px 24px 0 0;
    height: auto !important;
  }

  &__image-container {
    $aspect-ratio: 0.912;
    position: relative;
    width: 100%;
    height: 0;
    border-radius: $border-radius;

    $w: 316px;
    width: $w;
    height: $aspect-ratio * $w;

    @include media.min-width(md) {
      $w: 400px;
      width: $w;
      height: $aspect-ratio * $w;
    }
    @include media.min-width(lg) {
      $w: 500px;
      width: $w;
      height: $aspect-ratio * $w;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 30px 30px;
    box-sizing: border-box;
  }

  &-img {
    border-radius: $border-radius;
  }

  &-title {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
  }

  &-subtitle {
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 0.375rem;
  }

  &-followers {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    width: 100%;

    &__count {
      opacity: 0.5;
    }
    &__row {
      display: flex;
      justify-content: space-between;
    }
    &__avatars {
      display: flex;
      &-item {
        margin-left: -0.75rem;
        border-radius: 9999px;
        border: 2px solid #58379d;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}
