@use "../../../shared/styles/mixins/media";

.section-type-cards {
  margin-bottom: 50px;

  @include media.min-width(lg) {
    justify-content: space-between;
  }
  @include media.min-width(xxl) {
    min-width: auto !important;
    width: 1920px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-type-cards-gap {
  @include media.min-width(sm) {
    padding: 0 0 0 50px;
  }
  @include media.min-width(xl) {
    padding: 0 0 0 80px;
  }
  @include media.min-width(xxl) {
    padding: 0 0 0 130px;
  }
  @include media.min-width(xxl) {
    padding: 0;
  }
}

.type-card-wrapper {
  background: transparent;
}
