@use "../../../shared/styles/mixins/media.scss";

.section-ambassadors {
  display: flex;
  flex-direction: column;
  @include media.min-width(xl) {
  }
  @include media.min-width(xxl) {
  }


  @include media.min-width(md) {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
  }
  @include media.min-width(lg) {
    gap: 150px;
  }

  &-slider-mobile {
    @include media.min-width(md) {
      display: none;
    }
  }
  &-slider-desktop {
    display: none;
    @include media.min-width(md) {
      display: flex;
      justify-content: flex-end;
      position: relative;
    }
  }
  &-img {
    position: absolute;
    width: 100vw;
    height: 962px;
  }
  $card-colors: #58379d, #412971, #231c31;
}
