@use "../../../shared/styles/mixins/media.scss";

.section-relationship {
  display: flex;
  flex-direction: column;

  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 50px;
  gap: 50px;
  @include media.min-width(sm) {
    margin-bottom: 150px;
    gap: 100px;
  }

  align-self: stretch;
  flex-grow: 0;

  @include media.min-width(sm) {
    align-items: normal;
  }
  @include media.min-width(xl) {
    padding: 0px 130px;
  }

  &-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
    text-align: center;
  }

  &-title {
    text-align: center;
  }
}

.relationship-list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include media.min-width(sm) {
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 20px;
    flex: 1;

    @include media.min-width(sm) {
      gap: 30px;
    }

    &-img {
      position: relative;
      width: 152px;
      height: 176px;

      @include media.min-width(md) {
        width: 305px;
        height: 352px;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 10px;

      @include media.min-width(sm) {
        gap: 24px;
      }
    }

    &-title {
      font-family: "Helvetica";
      font-weight: 700;
      font-size: 1.75rem;
      line-height: 2rem;
      text-align: center;
    }

    &-description {
      text-align: center;
    }

    &-link {
    }
  }
}
