@use "../../../shared/styles/mixins/media";

.section-header {
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @include media.min-width(sm) {
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
  }
  @include media.min-width(md) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include media.min-width(lg) {
  }
  @include media.min-width(xl) {
  }

  &-headline {
    @include media.min-width(sm) {
      // width: 42vw;
    }

    &__title {
      @include media.min-width(sm) {
        font-size: 7rem;
        line-height: 7rem;
      }
      @include media.min-width(xl) {
        font-size: 9rem;
        line-height: 9rem;
      }
      @include media.min-width(xxl) {
        font-size: 10rem;
        line-height: 10rem;
      }
    }
    &__subtitle {
      margin-bottom: 0.25rem;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &-text {
    width: 100%;
    max-width: 540px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    box-sizing: content-box;
    @include media.min-width(sm) {
      padding: 0 0 0 80px;
      max-width: 340px;
    }
    @include media.min-width(md) {
      padding: 0 0 0 80px;
      max-width: 390px;
    }
    @include media.min-width(xl) {
      padding: 0 0 0 120px;
      max-width: 440px;
    }
    @include media.min-width(xxl) {
      padding: 0 0 0 140px;
      max-width: 500px;
    }
    @include media.min-width(xxl) {
      max-width: 540px;
    }
  }

  &-content {
    @include media.min-width(sm) {
      width: 780px;
    }
    @include media.min-width(xl) {
      width: 820px;
    }
  }

  &-picture {
    display: none;

    @include media.min-width(sm) {
      display: flex;
      position: relative;
      width: 645px;
      // height: 645px;
    }
    @include media.min-width(xl) {
      width: 685px;
      // height: 685px;
    }
    @include media.min-width(xxl) {
      width: 725px;
      // height: 725px;
    }
  }
}
