@use "../../../shared/styles/mixins/media.scss";

.rive--forecast {
  width: 74vw;
  margin: auto;
  left: 0;
  transform: none;
  position: relative;
  @include media.min-width(md) {
    position: absolute;
    left: 0;
    width: 49.5vw;
    height: 81.5%;
  }
}
.rive-bg--forecast {
  position: absolute;

  @include media.min-width(md) {
    position: relative;
  }
}

.rive-forecast-body {
  position: absolute;
  z-index: 200;
  left: 50%;
  top: 50%;
  width: 56.3%;
  height: 90%;
  transform: translate(-51%, -54%);
  @include media.min-width(md) {

  }
}

.section-default-text-center--forecast {
  @include media.min-width(md) {
    align-items: flex-start;
  }
}
