@use "../../../shared/styles/mixins/media";

.section-default {
   display: flex;
  flex-direction: column-reverse;
  gap: 50px;
  @include media.min-width(md) {
    flex-direction: row;
    gap: 0;
  }
  &-text {
    &-wrapper {
      @include media.min-width(md) {
        position: absolute;
        right: 0;
        left: 0;
      }
    }

    &-container {
      @include media.min-width(md) {
        display: flex;
        max-width: 1920px;
        margin: 0 auto;
      }
      @include media.min-width(xl) {
      }
      @include media.min-width(xxl) {
      }

      &--reverse {
        @include media.min-width(md) {
          flex-direction: row-reverse;
        }
      }
    }

    &-centrer {
      @include media.min-width(md) {
        width: 50%;
        display: flex;
        justify-content: flex-start;
      }
      &--reverse {
        @include media.min-width(md) {
          justify-content: flex-end;
        }
      }

      @include media.min-width(xxl) {
        min-height: 50vh;
        align-items: flex-start;
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 40px;

      margin: 0 1.25rem 3.125rem 1.25rem;

      @include media.min-width(md) {
        margin: 0;
        gap: 20px;
        width: 500px;
      }
      @include media.min-width(xl) {
        gap: 40px;
        width: 680px;
      }

      @include media.min-width(md) {
        box-sizing: border-box;
        padding: 0 0 0 80px;
      }
      @include media.min-width(xl) {
        padding: 0 0 0 120px;
      }

      &--reverse {
        @include media.min-width(md) {
          padding: 0 80px 0 0;
        }
        @include media.min-width(xl) {
          padding: 0 120px 0 0;
        }
      }
    }

    &-item {
      &--title {
        @include media.min-width(md) {
          font-size: 0.8em;
          line-height: 0.8em;
        }
        @include media.min-width(xl) {
          font-size: 1em;
          line-height: 1em;
        }
      }
      &--description {
      }
    }
  }

  &-img-sm {
    width: 100vw;
    height: 88vw;
    position: relative;
    left: 0;
    z-index: -1;
    display: block;
    @include media.min-width(md) {
      display: none;
    }
  }
  &-img-md {
    width: 100vw;
    height: auto;
    position: relative;
    left: 0;
    z-index: -1;
    display: none;
    @include media.min-width(md) {
      display: block;
    }
  }
  &-img{
    width: 100vw;
    height: 88vw;
    position: relative;
    left: 0;
    z-index: -1;
    display: block;
    @include media.min-width(md) {
      height: auto;
    }
  }
}

.rive {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  z-index: 100;
  width: 100%;
  height: 100%;
  @include media.min-width(md) {
    width: 49.5vw;
    height: 66.5%;
  }
}
.rive-bg {
  width: 100%;
  height: auto;
  z-index: 10;
  position: relative;
  bottom: 0;
  left: 0;
}
