@use "../../../shared/styles/mixins/media.scss";

.section-footer {
  max-width: 1920px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0 !important;
  padding-bottom: 30px;

  @include media.min-width(sm) {
    padding-bottom: 100px;
  }

  &-links {
    &-container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include media.min-width(sm) {
        flex-direction: row;
        gap: 20px;
      }
    }
    &-block {
      @include media.min-width(sm) {
        width: 260px;
      }

      &--grow {
        @include media.min-width(sm) {
          width: auto;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
    &-item {
      border-bottom: 1px solid #202020;
      padding-bottom: 10px;
      @include media.min-width(sm) {
        margin-bottom: 24px;
        border: none;
        padding-bottom: 0;
      }
    }
  }
  &-blocks-container{
    @include media.min-width(sm) {
      display: flex;
      gap: 20px;
    }
  }
}
