.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 19.75rem;
    height: 28.75rem;

    background: #1A1A1A;
    border-radius: 24px;

    &__image {
        border-radius: 24px 24px 0 0;
    }

    &__image-container {
        position: relative;
        width: 100%;
        height: 0;
    }

    &__text {
        &-item {
            display: inline-block;
            margin-top: 1.5rem;
        }
    }
    
}
