@import "../../../../shared/styles/global.scss";

.bodygraph-stats {
  min-width: 178px;
  @media screen and (max-width: 500px) {
    min-width: auto;
  }
}

.title-person-design {
  color: $main-text;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: end;
  @media screen and (max-width: 640px) {
    transform: none;
    text-align: left;
    writing-mode: unset;
  }
}

.title-person-personality {
  color: $main-text;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: end;

  @media screen and (max-width: 640px) {
    transform: none;
    text-align: right;
    writing-mode: unset;
  }
}
