@use "../../../../shared/styles/mixins/media.scss";

.discussion-card{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  align-items: flex-start;
  border-radius: 20px;
  background: #1A1A1A;
  margin: auto;
  width: 100%;
  max-width: 680px;
  &--more-options{
    position: absolute;
  }
  &--header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  &--user-info{
    button{
      gap: 4px;
      align-items: flex-start;
      background: transparent !important;
      padding: 0 !important;
      color: #fff;
    }
  }

  &--body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  &--text{
    height: 60px;
    overflow: hidden;
    color: var(--text-hover, #8C8C8C);
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
  }
  &--footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &--button{
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #fff;
  }
  &--readers{
    width: 100%;
    display: flex;
    align-items: center;
    img {
      margin-right: -10px;
      display: none;
      @include media.min-width(sm) {
          display: block;
      }
    }
  }
  &--readers-number{
    box-sizing: content-box;
    padding: 0 12px;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #1A1A1A;
    background: #202020 !important;
    color: #979797 !important;
  }
  &--likes{
    display: flex;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: #fff;
    background: transparent;
    &:hover:not(:disabled){
      background: transparent;
    }
  }
}
