@use "../../../../shared/styles/mixins/media";

.section-famous-people {
  &--content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &--title{
    padding: 0 10px;
    @include media.min-width(sm) {
      padding: 0;
    }
  }
  &--slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    @include media.min-width(sm) {
    }
    @include media.min-width(md) {
    }
    @include media.min-width(lg) {
      justify-content: space-between;
    }
    @include media.min-width(xxl) {
      min-width: auto !important;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.famous-person {
  width: 110px;
  height: 110px;
  @include media.min-width(sm) {
    width: 220px;
    height: 220px;
  }
}
