@use "../../../../shared/styles/mixins/media";

.section-type-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  &-list{
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include media.min-width(sm) {
      gap: 100px;
    }
    &--item{
      display: flex;
      align-items: flex-start;
      gap: 60px;
      justify-content: space-between;
      padding: 0 10px;
      flex-wrap: wrap;
      @include media.min-width(md) {
        padding: 0 140px;
      }
      @include media.min-width(xl) {
        flex-wrap: nowrap;
      }
    }
    &--body{
      width: 100%;
      max-width: 680px;
      @include media.min-width(xl) {
        min-width: 680px;
      }
    }
    &--point {
      margin: 40px 0 20px;
    }
  }
  &--button-wrapper{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
