@use "../../../../shared/styles/mixins/media";

.section-header {
  padding-left: 1.25rem;
  padding-right: 1.25rem;

  @include media.min-width(sm) {
    max-width: 1920px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }

  &-headline {
    @include media.min-width(sm) {
      // width: 42vw;
    }

    &__title {
      @include media.min-width(sm) {
        font-size: 7rem;
        line-height: 7rem;
      }
      @include media.min-width(xl) {
        font-size: 9rem;
        line-height: 9rem;
      }
      @include media.min-width(xxl) {
        font-size: 10rem;
        line-height: 10rem;
      }
    }
    &__subtitle {
      margin-bottom: 0.25rem;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__text {
    width: 100%;
    max-width: 825px;
  }

  &-text {
    width: 100%;
    max-width: 825px;
   display: flex;
   gap: 40px;
   flex-direction: column;
   @include media.min-width(sm) {
     padding: 0 0 0 80px;
   }
   @include media.min-width(md) {
     padding: 0 0 0 80px;
   }
   @include media.min-width(xl) {
     padding: 0 0 0 120px;
   }
  }
  &-content {
    
  }

  &-picture {
    display: none;

    @include media.min-width(sm) {
      display: flex;
      position: relative;
      width: 540px;
      max-height: 500px;
    }
    @include media.min-width(xl) {
      width: 540px;
    }
  }
}
