@use '../../../../shared/styles/mixins/media.scss';

.section-discussion {
  display: flex;
  gap: 40px;
  flex-direction: column;
  &--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--controllers{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &--prev, &--next{
    display: flex;
    width: 40px;
    height: 40px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #FFF;
    border-radius: 20px;
    &:hover:not(:disabled){
      path {
        fill: #fff;
      }
    }
  }
  &--header, &--body {
    padding: 0 10px;
    @include media.min-width(md) {
      padding: 0 140px;
    }
  }
}
