@use "../../../shared/styles/mixins/media";

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  padding: 20px 0px 0px;
  border-top: 1px solid #2d2d2d;

  @include media.min-width(sm) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &-lang {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &-delimiter {
    display: block;
    width: 1px;
    height: 20px;
    background: #2f2f2f;
  }

  .row {
    align-items: center;
    display: flex;
  }

  .social-icon {
    width: 42px;
    height: 42px;
    color: white;
    background: black;

    &--appStore {
      background: black;

      display: none;

      @include media.min-width(sm) {
        display: block;
      }
    }
  }

  .link {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #bbbbbb;
  }

  &-copyright {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #646464;
    margin-top: 0.625rem;
  }
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
