@import "../../../shared/styles/fonts.scss";

header.default {
  position: sticky;
  top: 0%;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  z-index: 100;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;

  .text {
    width: 250px;
    height: 16px;
    position: absolute;
    left: 20%;
    right: 80%;
    top: 25%;
    bottom: 25%;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .t-bobby {
    width: 147px;
    height: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #696969;
    position: absolute;
    left: 25%;
    right: 75%;
    top: 30%;
    bottom: 70%;
  }

  .username {
    position: absolute;
    left: 80%;
    right: 20%;
    width: 71px;
    height: 16px;
    top: 30%;
    bottom: 70%;

    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  .profile-picture {
    position: absolute;
    left: 85%;
    right: 25%;
    top: 30%;
    bottom: 70%;
  }
}
