@use '../../shared/styles/mixins/media.scss';

.section-profile {
  &--card{
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #684BA7;
    padding: 30px 35px;
    @include media.min-width(sm) {
      gap: 100px;
      border-radius: 20px;
      padding: 130px 140px;
    }
    @include media.min-width(xs){
      padding: 65px 70px;
    }
  }
  &--header{
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    text-align: center;
    @include media.min-width(md) {
      text-align: start;
    }
  }
  &--subtitle{
    width: 100%;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  &--body{
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    @include media.min-width(md) {
      justify-content: flex-start;
      gap: 60px;
    }
  }
  &--list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &--item{
    >div{
      display: flex;
    }
  }
  &--button{
    color: #FFF;
    background: transparent;
    padding: 0;
    border: none;
    &:hover:not(:disabled){
      background: transparent;
    }
  }
  &--image-container{
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    
    @include media.min-width(md) {
      display: flex;
    }
  }
  &--image{
    height: 100%;
    width: 100%;
  }
}
